.mainPanel {
  width: 100%;
  background-color: white;
  border: 2px solid #dbd9d5;
  height: 100%;
}

.footerPanel {
  margin-left: 11px;
  padding: 10px;
  text-align: center;
}

.centerContainer {
	padding: 15px 11px 15px 11px;
}

